---
import Layout from '../layouts/Layout.astro';


// Functioning
const PageTitle =  "About me"

---

<Layout>
    
    
    <h1> Hola, Yo soy Alejandro Saánchez Poveda </h1>
    
<p> Me estoy formando en Ciencias de la Comptuación en la <a href="https://unal.edu.co"> Universidad Nacional de Colombia - UNAL <a/> , 
    con un interés particular en proyectos relacionados con el manejo de datos musicales para aprendizaje automático.
    Actualmente, me desempeño explorando la intersección que tienen las ventajas técnicas que ofrece la carrera, específicamente en campos tecnológicos como la teoría de la información en grupos tales como
     <a href="https://linktr.ee/simg_un">SIMG - Seminario de Investigación en Modelos Generativos</a>, el aprendizaje profundo, la matemática en áreas como la topología o el álgebra lineal, y campos más creativos como la música y el aprendizaje de idiomas
        (<a href="https://www.youtube.com/@GameGengo">japonés</a> y <a href="https://www.hackingchinese.com/">chino</a>).
</p>

    Puedes encontrarme en <a href="https://x.com/Asperjasp/">Twitter/X ( @Asperjasp )</a> y <a href="https://www.linkedin.com/in/alejandrosanchezpoveda/">LinkedIn ( @alejandrosanchezpoveda )</a>.

</p>
</Layout>