---
import Layout from "../layouts/Layout.astro";
import BgMusic from "../components/BgMusic.astro";
// Functioning
const PageTitle = "About me";
---

<Layout>
  <!-- Background div for Music , Note the pointer events none so that whe backgorund image does not block the content-->
  <div class="About-Container px-10 column flex-row flex py-5 dark:bg-gray-900">
    <img
      src="/ASP_Gofest2025.jpg"
      alt="Alejandro at Google Gofest"
      class="h-auto w-1/2 mx-auto"
    />
    <div
      class="Presentation bg-white/10 backdrop-blur-md rounded-xl shadow-lg p-8"
    >
      <h1 class="text-4xl font-bold text-center my-8">Sobre mi</h1>
      <p class="mt-8">
        Desde 2024 estoy en mi formación en la disciplina de Ciencias de la
        Computación en la <a href="https://unal.edu.co"
          >Universidad Nacional de Colombia - UNAL</a
        >, lugar en el que he podido explorar desde áreas técnicas como
        Ciberseguridad, Programación Competitiva, matemáticas. Hasta áreas mas
        ártisicas tales como el idioma Japónes con el que
      </p>
      <p>
        En este camino explorando la intersección entre el fuerte tecnológico y
        matemático que tiene la carrera en grupos tales como
        <a href="https://linktr.ee/simg_un">
          SIMG - Seminario de Investigación en Modelos Generativos
        </a>
        donde tratamos temas como:
        <ul class="list-disc ml-6">
          <li>Deep Learning</li>
          <li>Topologia</li>
          <li>Teoría de la Información</li>
          <li>Probabilidad</li>
        </ul>

        <p class="my-8">
          De esta esta exploración en áreas técnicas surgió un interés por ver
          como podría combinar la parte técnica de mi carrera con campos más
          creativos como la música y el aprendizaje de idiomas, particularmente
          (
          <a href="https://www.youtube.com/@GameGengo"> japonés </a> y
          <a href="https://www.hackingchinese.com/"> chino </a>
          ); esto dado el interés que surgió inicialmente en mis años finales de
          bachillerato en 2021, cuando descubrí una app llamada
          <a
            href="https://play.google.com/store/apps/details?id=com.mindtwisted.kanjistudy&hl=es_CO"
          >
            Kanji study
          </a>
          la cuál me sorpendio tanto el ver como la técnologia podía incurrir de
          una manera tan transformadora en todas las áreas tales incluso las que
          pense que se salian de su nicho como es el aprendizaje de idiomas, desde
          entonces he estado aprendiendo este idioma, y he podido avanzar en mi comprensión
          y fluidez, sin dejar de lado estudios para pruebas como el ICFES y el exámen
          UNAL ni hobbies como el violín
        </p>
      </p>
    </div>
  </div>
</Layout>
