---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import BlogContainer from '../components/BlogContainer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>

	<section class="flex items-center gap-6 w-full lg:w-[740px] mx-auto py-44">
	<img 
	class="rounded-full size-35 object-cover"
    src="/Foto_Profesional_Squared.jpg" 
    alt="Alejandro's Logo" 
    />

	<div>

		<h1 class="text-white font-bold text-4xl"> 
			Hola, Aquí Alejandro Sánchez
		</h1>
		<h2> 
			Actualmente estoy formandome como Cientifico de la Computación en la
			<a href= "https://unal.edu.co/"> Universidad Nacional de Colombia - UNAL </a>,
			mi interés radica mayormente en la intersección y aplicaciones tecnologicas ( Generación de Audio , Procesamiento de Lenguaje Natural ) en arte, particularmente , en la música y el dominio de idiomas asiaticos como el Japónes y el Chino.
		</h2>

		</div>
		<BlogContainer />
		
	</section>
</main>

</Layout>
