---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Proyectos">
  <main
    class="flex flex-col items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900 p-4"
  >
    <h1 class="text-5xl font-bold text-gray-900 dark:text-white mb-8">
      Mis proyectos
    </h1>
    <p
      class="text-lg text-gray-700 dark:text-gray-300 text-center max-w-2xl mb-12"
    >
      Aqui hay algunos de los proyectos en los que he trabajado, sientete libre
      de explorar, comentar y <a href="../contact">contactarme</a>, si tienes
      interés en algún proyecto, también me puedes encontrar en <a
        href="https://www.linkedin.com/in/alejandrosanchezpoveda/"
        target="_blank">Linkedin</a
      > y <a href="https://twitter.com/asperjasp" target="_blank">Twitter/X</a>.
    </p>
  </main>
</Layout>
