#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.root{
  background-color: #1e293b;
  color: #fff;
}

/* <style type="text/css">
.responsive-header-img {
    background-image: url(https://static.ghost.org/v3.0.0/images/publication-cover.png);
}

@media(max-width: 1000px) {
    .responsive-header-img {
        background-image: url(https://static.ghost.org/v3.0.0/images/publication-cover.png);
        background-image: -webkit-image-set(url(https://static.ghost.org/v3.0.0/images/publication-cover.png) 1x,
            url(https://static.ghost.org/v3.0.0/images/publication-cover.png) 2x);
        background-image: image-set(url(https://static.ghost.org/v3.0.0/images/publication-cover.png) 1x,
            url(https://static.ghost.org/v3.0.0/images/publication-cover.png) 2x);
    }
}

@media(max-width: 600px) {
    .responsive-header-img {
        background-image: url(https://static.ghost.org/v3.0.0/images/publication-cover.png);
        background-image: -webkit-image-set(url(https://static.ghost.org/v3.0.0/images/publication-cover.png) 1x,
            url(https://static.ghost.org/v3.0.0/images/publication-cover.png) 2x);
        background-image: image-set(url(https://static.ghost.org/v3.0.0/images/publication-cover.png) 1x,
            url(https://static.ghost.org/v3.0.0/images/publication-cover.png) 2x);
    }
}
</style> */



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
